<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.loan_manage.mapper.QuestionMapper">
    <resultMap id="BaseResultMap" type="com.loan_entity.manager.Question">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="question_type" property="questionType" jdbcType="VARCHAR"/>
        <result column="question_text" property="questionText" jdbcType="VARCHAR"/>
        <result column="employ_num" property="employNum" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="CHAR"/>
        <result column="sync" property="sync" jdbcType="CHAR"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.loan_entity.manager.Question" extends="BaseResultMap">
        <result column="answer" property="answer" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <select id="getAllQuestionList" resultType="com.loan_entity.manager_vo.QuestionVo">
		SELECT
		q.id,
		q.question_type AS questionType,
		q.question_text AS questionText,
		q.answer,
		q.employ_num AS employNum,
		q.create_time AS createTime,
		q.`status`,
		q.update_date AS updateDate,
		q.sync,
		r.emplloyee_name AS employName
		FROM
		ym_question AS q
		LEFT JOIN ym_riewer AS r ON q.employ_num =
		r.employ_num
		ORDER BY
		q.id DESC
	</select>
</mapper>