<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.loan_server.loan_mapper.PerAccountMapper" >
  <resultMap id="BaseResultMap" type="com.loan_entity.loan.PerAccount" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="guid" property="guid" jdbcType="VARCHAR" />
    <result column="per_id" property="perId" jdbcType="INTEGER" />
    <result column="use_money" property="useMoney" jdbcType="DECIMAL" />
    <result column="no_use_money" property="noUseMoney" jdbcType="DECIMAL" />
    <result column="withdraw_money" property="withdrawMoney" jdbcType="DECIMAL" />
    <result column="sum_collection" property="sumCollection" jdbcType="DECIMAL" />
    <result column="sum_recharge" property="sumRecharge" jdbcType="DECIMAL" />
    <result column="sum_offline_recharge" property="sumOfflineRecharge" jdbcType="DECIMAL" />
    <result column="sum_withdraw" property="sumWithdraw" jdbcType="DECIMAL" />
    <result column="payment_money" property="paymentMoney" jdbcType="DECIMAL" />
    <result column="sum_repay_amount" property="sumRepayAmount" jdbcType="DECIMAL" />
    <result column="count_borrow" property="countBorrow" jdbcType="INTEGER" />
    <result column="sync" property="sync" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, guid, per_id, use_money, no_use_money, withdraw_money, sum_collection, sum_recharge, 
    sum_offline_recharge, sum_withdraw, payment_money, sum_repay_amount, count_borrow, 
    sync
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ym_per_account
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ym_per_account
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.loan_entity.loan.PerAccount" >
    insert into ym_per_account (id, guid, per_id, 
      use_money, no_use_money, withdraw_money, 
      sum_collection, sum_recharge, sum_offline_recharge, 
      sum_withdraw, payment_money, sum_repay_amount, 
      count_borrow, sync)
    values (#{id,jdbcType=INTEGER}, #{guid,jdbcType=VARCHAR}, #{perId,jdbcType=INTEGER}, 
      #{useMoney,jdbcType=DECIMAL}, #{noUseMoney,jdbcType=DECIMAL}, #{withdrawMoney,jdbcType=DECIMAL}, 
      #{sumCollection,jdbcType=DECIMAL}, #{sumRecharge,jdbcType=DECIMAL}, #{sumOfflineRecharge,jdbcType=DECIMAL}, 
      #{sumWithdraw,jdbcType=DECIMAL}, #{paymentMoney,jdbcType=DECIMAL}, #{sumRepayAmount,jdbcType=DECIMAL}, 
      #{countBorrow,jdbcType=INTEGER}, #{sync,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.loan_entity.loan.PerAccount" >
    insert into ym_per_account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="guid != null" >
        guid,
      </if>
      <if test="perId != null" >
        per_id,
      </if>
      <if test="useMoney != null" >
        use_money,
      </if>
      <if test="noUseMoney != null" >
        no_use_money,
      </if>
      <if test="withdrawMoney != null" >
        withdraw_money,
      </if>
      <if test="sumCollection != null" >
        sum_collection,
      </if>
      <if test="sumRecharge != null" >
        sum_recharge,
      </if>
      <if test="sumOfflineRecharge != null" >
        sum_offline_recharge,
      </if>
      <if test="sumWithdraw != null" >
        sum_withdraw,
      </if>
      <if test="paymentMoney != null" >
        payment_money,
      </if>
      <if test="sumRepayAmount != null" >
        sum_repay_amount,
      </if>
      <if test="countBorrow != null" >
        count_borrow,
      </if>
      <if test="sync != null" >
        sync,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="guid != null" >
        #{guid,jdbcType=VARCHAR},
      </if>
      <if test="perId != null" >
        #{perId,jdbcType=INTEGER},
      </if>
      <if test="useMoney != null" >
        #{useMoney,jdbcType=DECIMAL},
      </if>
      <if test="noUseMoney != null" >
        #{noUseMoney,jdbcType=DECIMAL},
      </if>
      <if test="withdrawMoney != null" >
        #{withdrawMoney,jdbcType=DECIMAL},
      </if>
      <if test="sumCollection != null" >
        #{sumCollection,jdbcType=DECIMAL},
      </if>
      <if test="sumRecharge != null" >
        #{sumRecharge,jdbcType=DECIMAL},
      </if>
      <if test="sumOfflineRecharge != null" >
        #{sumOfflineRecharge,jdbcType=DECIMAL},
      </if>
      <if test="sumWithdraw != null" >
        #{sumWithdraw,jdbcType=DECIMAL},
      </if>
      <if test="paymentMoney != null" >
        #{paymentMoney,jdbcType=DECIMAL},
      </if>
      <if test="sumRepayAmount != null" >
        #{sumRepayAmount,jdbcType=DECIMAL},
      </if>
      <if test="countBorrow != null" >
        #{countBorrow,jdbcType=INTEGER},
      </if>
      <if test="sync != null" >
        #{sync,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.loan_entity.loan.PerAccount" >
    update ym_per_account
    <set >
      <if test="guid != null" >
        guid = #{guid,jdbcType=VARCHAR},
      </if>
      <if test="perId != null" >
        per_id = #{perId,jdbcType=INTEGER},
      </if>
      <if test="useMoney != null" >
        use_money = #{useMoney,jdbcType=DECIMAL},
      </if>
      <if test="noUseMoney != null" >
        no_use_money = #{noUseMoney,jdbcType=DECIMAL},
      </if>
      <if test="withdrawMoney != null" >
        withdraw_money = #{withdrawMoney,jdbcType=DECIMAL},
      </if>
      <if test="sumCollection != null" >
        sum_collection = #{sumCollection,jdbcType=DECIMAL},
      </if>
      <if test="sumRecharge != null" >
        sum_recharge = #{sumRecharge,jdbcType=DECIMAL},
      </if>
      <if test="sumOfflineRecharge != null" >
        sum_offline_recharge = #{sumOfflineRecharge,jdbcType=DECIMAL},
      </if>
      <if test="sumWithdraw != null" >
        sum_withdraw = #{sumWithdraw,jdbcType=DECIMAL},
      </if>
      <if test="paymentMoney != null" >
        payment_money = #{paymentMoney,jdbcType=DECIMAL},
      </if>
      <if test="sumRepayAmount != null" >
        sum_repay_amount = #{sumRepayAmount,jdbcType=DECIMAL},
      </if>
      <if test="countBorrow != null" >
        count_borrow = #{countBorrow,jdbcType=INTEGER},
      </if>
      <if test="sync != null" >
        sync = #{sync,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.loan_entity.loan.PerAccount" >
    update ym_per_account
    set guid = #{guid,jdbcType=VARCHAR},
      per_id = #{perId,jdbcType=INTEGER},
      use_money = #{useMoney,jdbcType=DECIMAL},
      no_use_money = #{noUseMoney,jdbcType=DECIMAL},
      withdraw_money = #{withdrawMoney,jdbcType=DECIMAL},
      sum_collection = #{sumCollection,jdbcType=DECIMAL},
      sum_recharge = #{sumRecharge,jdbcType=DECIMAL},
      sum_offline_recharge = #{sumOfflineRecharge,jdbcType=DECIMAL},
      sum_withdraw = #{sumWithdraw,jdbcType=DECIMAL},
      payment_money = #{paymentMoney,jdbcType=DECIMAL},
      sum_repay_amount = #{sumRepayAmount,jdbcType=DECIMAL},
      count_borrow = #{countBorrow,jdbcType=INTEGER},
      sync = #{sync,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>