<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd  
                http://code.alibabatech.com/schema/dubbo      
                  http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="loan-payment-provider"/>
    <dubbo:registry  id="host" protocol="zookeeper" />
    <dubbo:protocol name="dubbo" threads="1000" accepts="50000" />
    <dubbo:provider timeout="1200000" retries="0" registry="host" port="28088"  />

    <bean id="paymentService" class="com.loan.payment.service.impl.PaymentServiceImpl"/>
    <dubbo:service interface="com.loan_api.app.PaymentService" ref="paymentService"/>

    <dubbo:reference id="rmiSettlementService" interface="com.jhh.settlementsoa.rmi.RMISettlementService" check="false" timeout="600000"/>
    <dubbo:reference id="ysbCollectionService" interface="com.loan_api.loan.YsbCollectionService" check="false" timeout="600000"/>
</beans>