<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jhh.dao.CodeValueMapper">

	<select id="getSourceByDesc" resultType="java.lang.String">

		SELECT code_code FROM ym_code_value WHERE description = #{description}
	</select>
</mapper>