<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jhh.dao.ProblemDataMapper">
	<!-- 还款计划是负数-->
	<select id="repaymentNegative" parameterType="java.util.HashMap" resultType="java.lang.String">
		<![CDATA[
			select id  from ym_repayment_plan where (surplus_quota < 0 or surplus_money<0 or surplus_interest<0 or surplus_penalty<0 or surplus_penalty_Interes<0) and repay_date>date_sub(curdate(),interval 1 day)
		]]>

	</select>
	<!-- 合同未结清，还款计划结清-->
	<select id="contractNoDoneRepaymentDone"  resultType="java.lang.String">
		select a.id from ym_borrow_list a, ym_repayment_plan b where  a.id=b.contract_id and a.borr_status in('BS005','BS004') and ( b.is_settle=1 or (b.surplus_quota=0 and b.surplus_money=0 and b.surplus_interest=0 and  b.surplus_penalty=0 and b.surplus_penalty_Interes=0))
	</select>

	<!-- 合同结清，还款计划未结清-->
	<select id="contractDoneRepaymentNoDone"  parameterType="java.util.HashMap" resultType="java.lang.String">
		<![CDATA[
			select b.id from ym_borrow_list a, ym_repayment_plan b where a.id=b.contract_id and  a.borr_status in('BS006','BS010') and (b.surplus_quota<>0 or b.surplus_money<>0 or b.surplus_interest<>0 or  b.surplus_penalty<>0
		or b.surplus_penalty_Interes<>0 or b.is_settle=0) and b.repay_date>date_sub(curdate(),interval 1 day)
		]]>
	</select>

	<!-- 有合同没还款计划-->
	<select id="contractWithoutRepayment"  resultType="java.lang.String">
		<![CDATA[
			select a.id from ym_borrow_list a  where a.borr_status in('BS005','BS004','BS006','BS010') and not exists (select 1 from ym_repayment_plan b  where a.id=b.contract_id ) and a.pay_date>date_sub(curdate(),interval 1 day)
		]]>
	</select>

	<!-- 合同未成立，有还款计划-->
	<select id="contractNoEstablishWithRepayment"  resultType="java.lang.String">
		select a.id from ym_borrow_list a  where a.borr_status in('BS001','BS002','BS003','BS007','BS008','BS009','BS011','BS012') and  exists (select 1 from ym_repayment_plan b  where a.id=b.contract_id )
	</select>

	<!-- 多笔同时申请的合同-->
	<select id="muitiApplyContract"  parameterType="java.util.HashMap" resultType="java.util.HashMap">
		<![CDATA[
			select b.phone,  count(1) from ym_borrow_list a, ym_person b where a.per_id=b.id and borr_status in('BS001','BS002','BS003','BS011','BS004') and a.creation_date>date_sub(curdate(),interval 10 day)  group by per_id having count(1)>1
		]]>
	</select>

	<!-- 重复手机号-->
	<select id="repetitivePhone"   resultType="java.lang.String">
		<![CDATA[
			select phone from ym_person  GROUP BY phone having count(1)>1
		]]>
	</select>

	<!-- 正常结清和逾期结清中总还款金额不等于应还金额,关注负数金额-->
	<select id="repaymentAmountNotrepaymentPlan"   parameterType="java.util.HashMap" resultType="java.util.HashMap">
		<![CDATA[
			select sum(b.act_amount)-a.plan_repay as result, a.update_date  from ym_order b,ym_borrow_list a
			where b.conctact_id=a.id  and  b.rl_state ='s' and b.type not in (1,3)
			and a.borr_status in('BS006','BS010') and a.update_date> date_sub(curdate(),interval 1 day)
			group by b.conctact_id  having result<>0
		]]>
	</select>

	<!-- 一个合同多条还款计划-->
	<select id="multiRepaymentOfContract"   parameterType="java.util.HashMap" resultType="java.util.HashMap">
		<![CDATA[
			select contract_id,count(1),repay_date from ym_repayment_plan group by contract_id  having count(1)>1 and repay_date>date_sub(curdate(),interval 1 day)
		]]>
	</select>

	<!-- 逾期的状态还是待还款 -->
	<select id="exceedLimitAndWaitinRepayment"   parameterType="java.util.HashMap" resultType="java.lang.String">
		<![CDATA[
			select id from ym_borrow_list where planrepay_date<date_sub(curdate(),interval 1 day) and borr_status= 'BS004'
		]]>
	</select>

	<!-- 多张相同的银行卡-->
	<select id="multiBankNum"   parameterType="java.util.HashMap" resultType="java.lang.String">
		<![CDATA[
			select bank_num from ym_bank where status in (1,2)  and update_date>date_sub(curdate(),interval 2 day) group by bank_num having count(bank_num)>1
		]]>
	</select>

	<!-- 一个合同同时分派给多个人审核-->
	<select id="multiOperatorOfContract"   resultType="java.lang.String">
		select a.borr_id from ym_review a, ym_borrow_list b where a.borr_id=b.id and b.borr_status = 'BS003' and a.review_type=1 group by a.borr_id having count(1)>1
	</select>

	<!-- 一笔订单放款多次！人工处理不修改数据！-->
	<select id="multiLoanOfOrder"   parameterType="java.util.HashMap" resultType="java.lang.String">
		<![CDATA[
			select conctact_id from ym_order where rl_state='s' and type=1 and update_date>STR_TO_DATE(#{DATE},'%Y-%m-%d %H:%i:%s') group by conctact_id having count(1)>1
		]]>
	</select>

	<!-- 一正常结清实际上是逾期的-->
	<select id="actualExceedLimit"   parameterType="java.util.HashMap" resultType="java.lang.String">
		<![CDATA[
			select id from ym_borrow_list where  borr_status='BS006' and  datediff(DATE_FORMAT(act_repay_date,'%Y-%m-%d'),DATE_FORMAT(planrepay_date,'%Y-%m-%d')) >1 and update_date > date_sub(curdate(),interval 1 day)
		]]>
	</select>

	<!-- 一检查一笔放款或还款，有没有在order表中生成2笔相同订单号的流水-->
	<select id="multiOrderOfLoanAndRepayment"   parameterType="java.util.HashMap" resultType="java.lang.String">
		<![CDATA[
			select id from ym_order where creation_date>date_sub(curdate(),interval 4 day) group by serial_no having count(1)>1
		]]>
	</select>

	<!-- 一放款中的合同没有订单流水，要改为放款失败-->
	<select id="noContractOrder"   parameterType="java.util.HashMap" resultType="java.lang.String">
		<![CDATA[
			select id from ym_borrow_list a where a.borr_status in ('BS011','BS012') and not exists (select 1 from ym_order b   where  a.id=b.conctact_id
			and b.type=1 ) and a.update_date>date_sub(curdate(),interval 4 day)
		]]>
	</select>

	<!-- 一非已放款、逾期、正常结清、逾期结清的合同是否有放款记录-->
	<select id="unsualLoanOrder"   parameterType="java.util.HashMap" resultType="java.lang.String">
		<![CDATA[
			select id from ym_borrow_list a where a.borr_status in ('BS001','BS002','BS003','BS007','BS008','BS009') and  exists (select 1 from ym_order b   where  a.id=b.conctact_id
			and b.type=1 and rl_state='s') and a.update_date>date_sub(curdate(),interval 4 day)
		]]>
	</select>

	<!-- 一一个人有重复的个人信息-->
	<select id="multiProfile"   parameterType="java.util.HashMap" resultType="java.lang.String">
		<![CDATA[
			select per_id from ym_private where update_date>date_sub(curdate(),interval 4 day) group by per_id having count(1)>1
		]]>
	</select>

	<!-- 一个人有2张主银行卡-->
	<select id="multiMainCard"   resultType="java.lang.String">
		<![CDATA[
			select per_id from ym_bank  where status=1 group by per_id having count(1)>1
		]]>
	</select>

	<!-- 逾期结清但实际还款日小于应还款日+1天-->
	<select id="exceedRepamentActualNotExceed"  parameterType="java.util.HashMap"  resultType="java.lang.String">
		<![CDATA[
			select id from  ym_borrow_list where borr_status='BS010' and act_repay_date< DATE_ADD(planrepay_date,INTERVAL 1 day) and update_date > date_sub(curdate(),interval 3 day)
		]]>
	</select>
	<!-- 合同是放款中，实际上是放款失败-->
	<select id="contractLoaningAndActualFailed"  parameterType="java.util.HashMap"  resultType="java.lang.String">
		<![CDATA[
			select id from ym_borrow_list a where borr_status='BS011' and not EXISTS (select 1 from ym_order b where a.id=b.conctact_id and b.type=1 and b.rl_state<>'f') and a.update_date>date_sub(curdate(),interval 4 day)
		]]>
	</select>

	<!-- 已签约的合同没有审核人-->
	<select id="signedContractNoAuditor"  parameterType="java.util.HashMap"  resultType="java.lang.String">
		<![CDATA[
			select b.id from  ym_borrow_list b where b.borr_status = 'BS003' and not EXISTS (select 1 from ym_review a where a.borr_id=b.id  and a.review_type=1) and b.update_date>date_sub(curdate(),interval 4 day)
		]]>
	</select>

	<!-- 人工审核的合同没有审核人-->
	<select id="manualContractNoAuditor"  parameterType="java.util.HashMap"  resultType="java.lang.String">
		<![CDATA[
			select b.borr_id from  ym_borrow_manual b, ym_borrow_list c where b.borr_id=c.id and c.borr_status<>'BS007' and  not EXISTS (select 1 from ym_review a where a.borr_id=b.borr_id  and a.review_type=1) and b.creation_date>date_sub(curdate(),interval 4 day)
		]]>
	</select>

	<!-- 逾期结清的贷后催收数据没更新-->
	<select id="exceedRepaymentNoCollectionUpd"  parameterType="java.util.HashMap"  resultType="java.util.HashMap">
		<![CDATA[
			select t.id, t.borr_num, t.borr_status, t.act_repay_date, t1.bedue_name, t1.status
			from ym_borrow_list t, ds_collectors_list t1 where t.borr_status = 'BS010'
			and t.borr_num = t1.contract_id and t1.STATUS <> 'B' and t1.is_delete = 2 and t.update_date>date_sub(curdate(),interval 4 day)
		]]>
	</select>
</mapper>